.success-alert {
  margin-bottom: 48px;
  &__title {
    text-align: center;
    margin-bottom: 24px;
  }
  &__describe {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
    color: green;
  }
  &__image {
    max-width: 512px;
  }
}
