.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 32px 16px 64px;

  &__title {
    text-align: center;
  }
  &__describe {
    text-align: center;
  }
}
